<h1>Log In</h1>

<form method="POST" action="/login">
  <div class="mb-3">
     <label class="form-label">Email</label>
    <input name="email" required="true" type="email"  class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input name="password" type="password" class="form-control">
  </div>
 

  <button type="submit" class="btn btn-primary">Log In</button>
</form>

{{!-- Conditionally render the msg--}}
{{#if msg}}
<div class="error">{{msg}}</div>
{{/if}}


<h5>Still not registered? Sign Up <a href="/signup">here</a></h5>