<form method="POST" action="/signup">
 
  <div class="mb-3">
    <label>Name</label>
    <input name="name" required="true" type="text">
     </div>
  <div class="mb-3">
    <label>Last Name</label>
    <input name="lastName" required="true" type="text">
     </div>
  <div class="mb-3">
    <label>City</label>
      <select name="city" class="form-select" aria-label="Default select example">
      <option selected>Select a city</option>
      <option value="Berlin">Berlin</option>
      <option value="Frankfurt">Frankfurt</option>
      <option value="Paris">Paris</option>
      <option value="Other">Other</option>
    </select>
     </div>
  <div class="mb-3">
    <label>Email</label>
    <input name="email" required="true" type="email">
     </div>
  <div class="mb-3">
    <label>Password</label>
    <input name="password" required="true" type="password"> </div>
  <div class="mb-3">
    <button type="submit" >Sign Up</button>
     </div>
  </form>

  {{!-- Conditionally render the msg--}}
{{#if msg}}
  <div class="error">{{msg}}</div>
{{/if}}