<form method="POST" action="/signup">
    <label>Name</label>
    <input name="name" required="true" type="text">
    <label>Last Name</label>
    <input name="name" required="true" type="text">
    <label>City</label>
      <select class="form-select" aria-label="Default select example">
      <option selected>Select a city</option>
      <option value="1">Berlin</option>
      <option value="2">Frankfurt</option>
      <option value="3">Paris</option>
      <option value="4">Other</option>
    </select>
    <label>Email</label>
    <input name="email" required="true" type="email">
    <label>Password</label>
    <input name="password" required="true" type="password">
    <button type="submit" >Sign Up</button>
  </form>

  {{!-- Conditionally render the msg--}}
{{#if msg}}
  <div class="error">{{msg}}</div>
{{/if}}