<h1>Add a new toy</h1>

<form class="profile" method="POST" action="/addtoy" enctype="multipart/form-data">
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input name="name" type="text" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">Description</label>
    <input name="description" type="text" class="form-control">
  </div>
  <div class="mb-3">
    <label>Category</label>
    <select name="category" class="form-select" aria-label="Default select example">
      <option selected>Select a category</option>
      <option value="Toy">Toy</option>
      <option value="Board Game">Board Game</option>
      <option value="Teddy Bear">Teddy Bear</option>
      <option value="Puzzle">Puzzle</option>
      <option value="Sports">Sports</option>
      <option value="Books">Books</option>
      <option value="Video games">Video games</option>
      <option value="other">Other</option>
    </select>
  </div>
  <div class="mb-3">
    <label>Age Range</label>
    <select name="ageRange" class="form-select" aria-label="Default select example">
      <option selected>Select an age range</option>
      <option value="baby">Baby</option>
      <option value="toddler">Toddler</option>
      <option value="3 to 6 years old">3 to 6 years old</option>
      <option value="7 to 10 years old">7 to 10 years old</option>
      <option value="10 years old +">10 years old +</option>
    </select>
  </div>
  <div class="mb-3">
    <label>Switch Mode</label>
    <select name="switchMode" class="form-select" aria-label="Default select example">
      <option selected>Select a switch mode</option>
      <option value="switch">Switch</option>
      <option value="gift">Gift</option>
      <option value="temporary switch">Temporary switch</option>
    </select>
  </div>
  <div class="mb-3">
    <label>Toy photos</label>
      <input type="file" name="imageUrl" accept="image/png, image/jpg">
  </div>
  <button type="submit" class="btn btn-primary">Add Toy To Collection</button>
</form>

{{#if msg}}
<div class="error">{{msg}}</div>
{{/if}}