<h1>Add a Profile Photo</h1>
<div class="mb-3 profile">
    <form action="/addprofilephoto" method="POST" enctype="multipart/form-data">
      <input type="file" name="imageUrl" accept="image/png, image/jpg">
      <button type="submit" class="btn btn-primary">Add photo</button>
    </form>
  </div>