<h1>Switch Options</h1>
<section class="categories">
  <button type="button" class="btn btn-primary"><a href='/home/switch'>Switch</a></button>
  <button type="button" class="btn btn-primary"><a href='/home/gift'>Gift</a></button>
  <button type="button" class="btn btn-primary"><a href='/home/temporary-switch'>Temporary Switch</a></button>
</section>

<section class="searchbar">
  <form class="d-flex" action="/home" method="GET">
    <input name='searchedToy' class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</section>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each data.toyResults}}
    {{>toy this}}
    {{/each}}
</div>